*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Georgia, serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}
