/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Fenix', sans-serif;
    background-color: var(--tg-theme-bg-color, #21162C);
    color: var(--tg-theme-text-color, #ffffff);
}

.head{
    display: flex;
    margin-left: 10px;
}

.ph_png{
    width: 32px;
    height: 30px;
    margin-top: 12px;
}

.phenix{
    margin-left: 15px;
}

.bloc_1, .bloc_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 30px;
    background-color: #484848;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 15px;
}

.tickets, .tron_png{
    width: 22px;
    height: 22px;
    margin-left: 45px;
}

.head_hed{
    display: flex;
    background-color: #5C4E24;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
}

.nil_2, .Ph{
    height: 15px;
    margin-left: 30px;
    margin-top: 11px;
}

.bloc_3, .bloc_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 20px;
    height: 20px;
    width: 90px;
    margin-top: 10px;
}

.bloc_4 {
    margin-left: 5px;
}

.mined_0, .day_0, .inv-ref {
    font-size: 14px;
}

.bg, .bg_main {
    width: 320px;
    height: 362px;
    background-size: cover;
    background-position: center; 
}

.main{
    text-align: center;
}

.total-balance, .progress_bar, .ref {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}

.footer{
    margin-top: 50px;
    background-color: rgba(207, 162, 0, 0.44);
    width: 301px;
    height: 50px;
    border-radius: 15px;
    margin-left: 10px;
}

.bloc_5, .bloc_6 {
    display: flex;
    width: 32px;
    height: 32px;
    font-size: 12px;
    margin-top: -10px;
}

.min_0, .earn_0, .spin_0, .wat_0, .wall-0 {
    margin-left: 19px;
}

.min_1, .earn_1, .spin_1, .wat_1, .wall-1 {
    margin-left: 20px;
}

/* Медиазапросы для адаптации под различные устройства */

/* Для больших экранов */
@media (min-width: 1024px) {
    .head_hed {
        width: 600px;
    }

    .bg, .bg_main {
        width: 640px;
        height: 724px;
    }

    .footer {
        width: 602px;
    }
}

/* Для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {
    .head_hed {
        width: 450px;
    }

    .bg, .bg_main {
        width: 480px;
        height: 544px;
    }

    .footer {
        width: 452px;
    }
}

/* Для мобильных устройств */
@media (max-width: 767px) {
    .head_hed {
        width: 300px;
    }

    .bg, .bg_main {
        width: 320px;
        height: 362px;
    }

    .footer {
        width: 301px;
    }

    .head, .phenix, .bloc_1, .bloc_2, .tickets, .tron_png, .nil_2, .Ph, .bloc_3, .bloc_4, .day_0, .inv-ref, .total-balance, .progress_bar, .ref, .main {
        margin-left: 5px;
        margin-right: 5px;
    }

    .bloc_1, .bloc_2, .bloc_3, .bloc_4, .footer, .bg, .bg_main {
        width: 100%;
    }
}
