.body{
  background-color: #A8603A;

  position: absolute;
  top: 0%;
  right: 0%;

  width: 1920px;
  height: 1060px;

  z-index: -2;
}

.option {
  display: none;
}
  
.show {
  display: block;
}

.editor{
  position: absolute;
  left: 180%;
  top: -8%;

  width: 325px;
  height: 350px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_2 {
  display: none;
}

.editor_2{
  position: absolute;
  left: 180%;
  top: -140%;

  width: 325px;
  height: 350px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_3 {
  display: none;
}

.editor_3{
  position: absolute;
  left: 180%;
  top: -275%;

  width: 325px;
  height: 350px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_4 {
  display: none;
}

.editor_4{
  position: absolute;
  left: 180%;
  top: -405%;
  bottom: 100%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_5 {
  display: none;
}

.editor_5{
  position: absolute;
  left: 180%;
  top: -555%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_6 {
  display: none;
}

.editor_6{
  position: absolute;
  left: 180%;
  top: -700%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_7 {
  display: none;
}

.editor_7{
  position: absolute;
  left: 180%;
  top: -840%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_8 {
  display: none;
}

.editor_8{
  position: absolute;
  left: 180%;
  top: -980%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_9 {
  display: none;
}

.editor_9{
  position: absolute;
  left: 180%;
  top: -1110%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.option_10 {
  display: none;
}

.editor_10{
  position: absolute;
  left: 180%;
  top: -1240%;

  width: 325px;
  height: 354px;

  background: #D9D9D9;

  overflow-wrap: anywhere;
}

.fon{
  position: absolute;
  top: 22.5%;
  left: 12%;

  width: 1435.5px;
  height: 653.5px;

  z-index: -1;
}

.user{
  background-color: #0000007f;

  position: absolute;
  top: 53%;
  left: 66.5%;


  width: 399px;
  height: 345px;

  background: linear-gradient(303.19deg, rgba(217, 217, 217, 0.75) -66.71%, rgba(217, 217, 217, 0) 148.19%);

  z-index: 2;
}

.n_m{
  position: absolute;
  top: 52%;
  left: 73%;

  width: 240px;
  height: 49px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 41px;

  color: #000000;

  z-index: 3;
}

.m_1{
  position: absolute;

  width: 100px;
  height: 60px;

  z-index: 5;
}

.m_2{
  position: absolute;

  width: 100px;
  height: 60px;

  z-index: 5;
}

.m_3{
  position: absolute;

  width: 108px;
  height: 55px;

  z-index: 5;
}

.m_4{
  position: absolute;

  width: 100px;
  height: 50px;

  z-index: 10;
}

.mf_1{
  position: absolute;
  top: 83%;
  left: 67%;

  width: 80px;
  height: 50px;

  z-index: 5;
}

.mf_2{
  position: absolute;
  top: 83%;
  left: 72%;

  width: 80px;
  height: 50px;

  z-index: 5;
}

.mf_3{
  position: absolute;
  top: 83%;
  left: 77%;

  width: 80px;
  height: 50px;

  z-index: 5;
}

.mf_4{
  position: absolute;
  top: 83%;
  left: 82%;

  width: 80px;
  height: 50px;

  z-index: 5;
}