.head{
    display: flex;
    margin-left: 10px;
}

.phenix{
    margin-left: 15px;
}

.tickets{
    margin-left: 45px;
    width: 22px;
    height: 22px;
}

.tron_png{
    margin-left: 45px;
    width: 22px;
    height: 22px;
}

.teamwork{
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-left: 15px;
}

.nil_0{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 10px;
}

.main{
    margin-left: 10px;
}

.ph_0{
    width: 32px;
    height: 32px;
    margin-top: 25px;
    margin-left: 20px;
}

.ph_test_0{
    font-size: 16px;
    margin-top: -40px;
    margin-left: 60px;
}

.cop_link{
    margin-top: 10px;
    margin-left: 25px;
}

.zarab{
    font-size: 14px;
    color: #ffffff;
    filter: brightness(0.76);
    margin-top: -15px;
    margin-left: 60px;
}

.yu_ref{
    font-size: 16px;
    margin-top: 5px;
}

.bloc_balanc_0{
    display: flex;
    font-size: 16px;
    margin-left: 10px;
}

.nil_1{
    margin-top: 5px;
    margin-left: 70px;
}

.ticets_0{
    width: 22px;
    height: 22px;
    margin-top: 3px;
    margin-left: 20px;
}

.tot_play{
    font-size: 18px;
    margin-left: 30px;
    margin-top: 10px;
}

.refil_0{
    display: flex;
    margin-top: 20px;
}

.tel{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
}

.shere{
    font-size: 16px;
    margin-top: -25px;
    margin-left: 40px;
}

@media all and (max-width: 1000px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Fenix', sans-serif;
        background-color: var(--tg-theme-bg-color, #21162C);
        color: var(--tg-theme-text-color, #ffffff);
    }

    footer{
        background-color: rgba(251, 255, 0, 0.377);
        width: auto;
        height: 60px;
        border-radius: 15px;
        position: fixed;
        bottom: 20px;
        left: 10px;
        right: 10px;
    }

    .bloc_5 {
        display: flex;
        font-size: 16px;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 55px;
    }
    
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1px;
    }
    
    .item img {
        max-height: 32px;
        max-width: 32px;
        margin-top: 5px;
    }

    .min_0, .earn_0, .spin_0, .wat_0, .wall_0 {
        color: #ffffff;
        text-align: center;
        margin: 5px;
    }
}

@media all and (max-width: 780px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Fenix', sans-serif;
        background-color: var(--tg-theme-bg-color, #21162C);
        color: var(--tg-theme-text-color, #ffffff);
    }

    footer{
        background-color: rgba(251, 255, 0, 0.377);
        width: auto;
        height: 60px;
        border-radius: 15px;
        position: fixed;
        bottom: 20px;
        left: 10px;
        right: 10px;
    }

    .bloc_5 {
        display: flex;
        font-size: 16px;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 55px;
    }
    
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1px;
    }
    
    .item img {
        max-height: 32px;
        max-width: 32px;
        margin-top: 5px;
    }

    .min_0, .earn_0, .spin_0, .wat_0, .wall_0 {
        color: #ffffff;
        text-align: center;
        margin: 5px;
    }
}

@media all and (max-width: 480px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Fenix', sans-serif;
        background-color: var(--tg-theme-bg-color, #21162C);
        color: var(--tg-theme-text-color, #ffffff);
    }

    .ph_png{
        width: 32px;
        height: 30px;
        margin-top: 12px;
    }

    .bloc_1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 82px;
        height: 30px;
        background-color: #484848;
        border-radius: 15px;
        margin-top: 12px;
        margin-left: auto;
    }

    .bloc_2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 82px;
        height: 30px;
        background-color: #484848;
        border-radius: 15px;
        margin-top: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .head_hed{
        display: flex;
        background-color: #5C4E24;
        width: auto;
        height: 40px;
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main_ref{
        width: auto;
        height: 190px;
        border: solid 1px;
        margin-top: 279px;
        border-radius: 20px;
        margin-right: 10px;
    }

    .bloc_0{
        width: auto;
        height: 50px;
        border-radius: 10px;
        background-color: #5C4E24;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    }

    .cop_ref_0{
        font-size: 16px;
        border: 2px solid white;
        color: #ffffff;
        border-radius: 10px;
        width: 140px;
        height: 33px;
    }

    .cop_sher_0{
        font-size: 16px;
        background-color: #039BE5;
        border-radius: 10px;
        width: 140px;
        height: 33px;
        color: #ffffff;
        border: 2px solid white;
        margin-left: auto;
    }

    footer{
        background-color: rgba(251, 255, 0, 0.377);
        width: auto;
        height: 60px;
        border-radius: 15px;
        position: fixed;
        bottom: 20px;
        left: 10px;
        right: 10px;
    }

    .bloc_5 {
        display: flex;
        font-size: 16px;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 55px;
    }
    
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1px;
    }
    
    .item img {
        max-height: 32px;
        max-width: 32px;
        margin-top: 5px;
    }

    .min_0, .earn_0, .spin_0, .wat_0, .wall_0 {
        color: #ffffff;
        text-align: center;
        margin: 5px;
    }
}
