body, html {
    margin: 0;
    padding: 0;
    font-family: 'Fenix', serif;
    background-color: var(--tg-theme-bg-color, #21162C);
    color: var(--tg-theme-text-color, #ffffff);
}

.head{
    display: flex;
    margin-left: 10px;
}

.ph_png{
    width: 32px;
    height: 30px;
    margin-top: 12px;
}

.phenix{
    margin-left: 15px;
}

.bloc_1{
    display: flex;
    width: 82px;
    height: 30px;
    background-color: #484848;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 15px;
}

.nil_0{
    height: 15px;
    margin-top: 7px;
    margin-left: 5px;
}

.tickets{
    margin-left: 45px;
    width: 22px;
    height: 22px;
    margin-top: 3px;
}

.bloc_2{
    display: flex;
    width: 82px;
    height: 30px;
    background-color: #484848;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 15px;
}

.tron_png{
    margin-left: 45px;
    width: 22px;
    height: 22px;
    margin-top: 5px;
}

.nil_1{
    height: 15px;
    margin-top: 7px;
    margin-left: 5px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}