body {
    background-color: rgb(30, 29, 29);
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    height: 100%;
    font-weight: 800;
    font-family: Arial;
}

.box{
    position: relative;
    width: 300px;
    height: 625px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.box::before{
    content: ' ';
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 34, 255));
    animation: rotate 6s linear infinite;
}

.box::after{
    content: ' ';
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 34, 255));
    animation: rotate 6s linear infinite;
    animation-delay: -3s;
}

.box span{
    position: absolute;
    inset:  6px;
    border-radius: 20px;
    background-color: #000000;
    z-index: 2;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* название */
.container {
  display: flex;
  align-items: center;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 140px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: rgb(255, 0, 0);
    stroke-dasharray: 60% 60%;
    stroke-width: 10px;
    stroke-dashoffset: 10%;
    animation: stroke-offset 2.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #00ff04;
	animation-delay: -3;
}

.text-copy:nth-child(4){
	stroke: #ffffff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #00ff62;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -100%;}
}
/* линии */
.hr_1 {
    border: none;
    border-top: 3px double rgb(204, 0, 255);
    overflow: visible;
    text-align: center;
    position: relative;
    bottom: 2.5cm;
}

/* хагрузка фото */
.img_prof{
    position: relative;
    bottom: 2.7cm;
    left: 0.1cm;
    height: 240px;
    width: 280px;
}

.fon_prof{
    position: relative;
    bottom: 4cm;
    left: 30%;
}

/* линии */
.hr_2 {
    border: none;
    border-top: 3px double rgb(203, 0, 254);
    overflow: visible;
    position: relative;
    bottom: 5cm;
    width: 100%;
}

/* тут другое */
.img_red_photo{
    width: 100%;
    height: 100%;
}

.fileform { 
    background-color: #f8090900;
    border-radius: 2px;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    bottom: 365px;
    left: 30px;
    text-align: left;
    vertical-align: middle;
    width: 230px;
}

.fileform .selectbutton { 
    background-color: #00bbff;
    border: 1px solid #f9000000;
    border-radius: 20px;
    float: right;
    font-size: 16px;
    height: 30px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
}

.fileform #upload{
    position:absolute; 
    top: 0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}

/* анкета */
.anc{
    color: rgba(253, 251, 255, 0.964);
    position: relative;
    bottom: 230px;
    left: 120px;
}

/* название полей */
.names_n{
    color: #ffffff;
    position: relative;
    bottom: 240px;
}

.names_v{
    color: #ffffff;
    position: relative;
    bottom: 293px;
    left: 1px;
}

.names_g{
    color: #ffffff;
    position: relative;
    bottom: 343px;
}

.names_b{
    color: #fffcfc;
    position: relative;
    bottom: 393px;
}

/* имя */
.input_n{
    color: #fffcfc;
    position: relative;
    bottom: 280px;
    left: 50px;
}

/* возраст */
.input_v{
    color: #fffcfc;
    position: relative;
    bottom: 333px;
    left: 90px;
}

/* город */
.input_g{
    color: #fffcfc;
    position: relative;
    bottom: 383px;
    left: 70px;
}

/* био */
.input_b{
    color: #ffffff;
    position: relative;
    bottom: 433px;
    left: 50px;
}

/* кнопка редактирования */
.but_a{
    position: relative;
    bottom: 390px;
    left: 80px;
    background: linear-gradient(to top left, rgb(0, 254, 97), rgb(0, 24, 236));
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
    line-height: 1;
    font-weight: 10;
}

.but_b{
    position: relative;
    bottom: 370px;
    left: 70px;
    background: linear-gradient(to top left, rgb(0, 254, 97), rgb(0, 24, 236));
    color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 15px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
    line-height: 1;
    font-weight: 10;
}

.but_c{
    position: relative;
    bottom: 350px;
    left: 85px;
    background: linear-gradient(to top left, rgb(0, 254, 97), rgb(0, 24, 236));
    color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 15px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
    line-height: 1;
    font-weight: 10;
}