body {
	border-style: dotted;
	height: 560px;
	width: 560px;
	background-color: rgb(70, 67, 67);
	color: #fff;
	/* margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color); */
}

.menu {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.container {
	text-align: center;
	margin: 5%;
}

.menu:hover {
	background: lightgreen;
}

.gl_exchanger {
	text-align: center;
	margin: 5%;
}

.gl_well {
	text-align: center;
	margin: 5%;
}

.gl_info {
	text-align: center;
	margin: 5%;
}

.usercard {
	text-align: center;
	margin: 5%;
}

.wal1{
    display: flex;
    animation: 40s ease-in 1s infinite reverse both running slidein;
}

.BTC{
	position: absolute;
	left: 0%;
}

#BTC{
	position: absolute;
	left: 40px;
}

.ETH{
	position: absolute;
	left: 10%;
}

#ETH{
	position: absolute;
	left: 95px;
}

.USDT{
	position: absolute;
	left: 20%;
}

#USDT{
	position: absolute;
	left: 165px;
}

.UAH{
	position: absolute;
	left: 32%;
}

#UAH{
	position: absolute;
	left: 225px;
}

.XRP{
	position: absolute;
	left: 42%;
}

#XRP{
	position: absolute;
	left: 280px;
}

.MINA{
	position: absolute;
	left: 52%;
}

#MINA{
	position: absolute;
	left: 350px;
}

.ASTR{
	position: absolute;
	left: 64%;
}

#ASTR{
	position: absolute;
	left: 420px;
}

.APT{
	position: absolute;
	left: 76%;
}

#APT{
	position: absolute;
	left: 475px;
}

.BSW{
	position: absolute;
	left: 85%;
}

#BSW{
	position: absolute;
	left: 530px;
}

.BSW{
	position: absolute;
	left: 85%;
}

#BSW{
	position: absolute;
	left: 530px;
}


.HFT{
	position: absolute;
	left: 95%;
}

#HFT{
	position: absolute;
	left: 560px;
}


@keyframes slidein {
	from {
	  -webkit-transform: rotate(0deg) translateX(101%) rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(0deg) translateX(-101%) rotate(0deg);
	}
}
