body {
	border-style: dotted;
	height: 730px;
	width: 560px;
	background-color: rgb(70, 67, 67);
	color: #fff;
}

.line_1{
    width: 1px;
    height: 730px;
    position: absolute;
	left: 25%;
    top: 0%;
}

.line_2{
    width: 1px;
    height: 730px;
    position: absolute;
	left: 65%;
    top: 0%;
}

.line_3{
    width: 560px;
    height: 1px;
    position: absolute;
	left: 1%;
    top: 5%;
}

.wal{
    position: absolute;
	left: 9%;
    top: 0%;
}

.purchase{
    position: absolute;
	left: 40%;
    top: 0%;
}

.sale{
    position: absolute;
	left: 80%;
    top: 0%;
}

.BTC{
	position: absolute;
	left: 3%;
    top: 5%;
}

#btv{
	position: absolute;
	left: 35%;
    top: 5%;
}

#btg{
	position: absolute;
	left: 75%;
    top: 5%;
}

#btv{
	position: absolute;
	left: 35%;
    top: 5%;
}

#btg{
	position: absolute;
	left: 75%;
    top: 5%;
}

.ETH{
	position: absolute;
	left: 3%;
    top: 8%;
}

#etv{
	position: absolute;
	left: 35%;
    top: 8%;
}

#etg{
	position: absolute;
	left: 75%;
    top: 8%;
}

.USDT{
	position: absolute;
	left: 3%;
    top: 11%;
}

#uav{
	position: absolute;
	left: 35%;
    top: 11%;
}

#uag{
	position: absolute;
	left: 75%;
    top: 11%;
}

.UAH{
	position: absolute;
	left: 3%;
    top: 14%;
}

#uanbtcv{
	position: absolute;
	left: 35%;
    top: 14%;
}

#uanbtcg{
	position: absolute;
	left: 75%;
    top: 14%;
}

.XRP{
	position: absolute;
	left: 3%;
    top: 17%;
}

#xrv{
	position: absolute;
	left: 35%;
    top: 17%;
}

#xrg{
	position: absolute;
	left: 75%;
    top: 17%;
}

.MINA{
	position: absolute;
	left: 3%;
    top: 20%;
}

#minv{
	position: absolute;
	left: 35%;
    top: 20%;
}

#ming{
	position: absolute;
	left: 75%;
    top: 20%;
}

.ASTR{
	position: absolute;
	left: 3%;
    top: 23%;
}

#asv{
	position: absolute;
	left: 35%;
    top: 23%;
}

#asg{
	position: absolute;
	left: 75%;
    top: 23%;
}

.APT{
	position: absolute;
	left: 3%;
    top: 26%;
}

#apv{
	position: absolute;
	left: 35%;
    top: 26%;
}

#apg{
	position: absolute;
	left: 75%;
    top: 26%;
}

.BSW{
	position: absolute;
	left: 3%;
    top: 29%;
}

#bsv{
	position: absolute;
	left: 35%;
    top: 29%;
}

#bsg{
	position: absolute;
	left: 75%;
    top: 29%;
}

.HFT{
	position: absolute;
	left: 3%;
    top: 32%;
}

#hfv{
	position: absolute;
	left: 35%;
    top: 32%;
}

#hfg{
	position: absolute;
	left: 75%;
    top: 32%;
}

.CAKE{
	position: absolute;
	left: 3%;
    top: 35%;
}

#cakv{
	position: absolute;
	left: 35%;
    top: 35%;
}

#cakg{
	position: absolute;
	left: 75%;
    top: 35%;
}

.FLOW{
	position: absolute;
	left: 3%;
    top: 38%;
}

#flov{
	position: absolute;
	left: 35%;
    top: 38%;
}

#flog{
	position: absolute;
	left: 75%;
    top: 38%;
}

.LDO{
	position: absolute;
	left: 3%;
    top: 41%;
}

#ldov{
	position: absolute;
	left: 35%;
    top: 41%;
}

#ldog{
	position: absolute;
	left: 75%;
    top: 41%;
}

.HOOK{
	position: absolute;
	left: 3%;
    top: 44%;
}

#hookv{
	position: absolute;
	left: 35%;
    top: 44%;
}

#hookg{
	position: absolute;
	left: 75%;
    top: 44%;
}

.TWT{
	position: absolute;
	left: 3%;
    top: 47%;
}

#twtv{
	position: absolute;
	left: 35%;
    top: 47%;
}

#twtg{
	position: absolute;
	left: 75%;
    top: 47%;
}

.DASH{
	position: absolute;
	left: 3%;
    top: 50%;
}

#dashv{
	position: absolute;
	left: 35%;
    top: 50%;
}

#dashg{
	position: absolute;
	left: 75%;
    top: 50%;
}

.NEAR{
	position: absolute;
	left: 3%;
    top: 53%;
}

#hearv{
	position: absolute;
	left: 35%;
    top: 53%;
}

#hearg{
	position: absolute;
	left: 75%;
    top: 53%;
}

.DYDX{
	position: absolute;
	left: 3%;
    top: 56%;
}

#dydxv{
	position: absolute;
	left: 35%;
    top: 56%;
}

#dydxg{
	position: absolute;
	left: 75%;
    top: 56%;
}

.INCH{
	position: absolute;
	left: 3%;
    top: 59%;
}

#inchv{
	position: absolute;
	left: 35%;
    top: 59%;
}

#inchg{
	position: absolute;
	left: 75%;
    top: 59%;
}

.OP{
	position: absolute;
	left: 3%;
    top: 62%;
}

#opv{
	position: absolute;
	left: 35%;
    top: 62%;
}

#opg{
	position: absolute;
	left: 75%;
    top: 62%;
}