body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.menu {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.container {
	text-align: center;
	margin: 5%;
}

.menu:hover {
	background: lightgreen;
}

.gl_exchanger {
	text-align: center;
	margin: 5%;
}

.gl_well {
	text-align: center;
	margin: 5%;
}

.gl_info {
	text-align: center;
	margin: 5%;
}

.usercard {
	text-align: center;
	margin: 5%;
}

.wal1{
    display: flex;
    animation: 40s ease-in 1s infinite reverse both running slidein;
}

.BTC{
	position: absolute;
	left: 0%;
}
#BTC{
	position: absolute;
	left: 45px;
}

.ETH{
	position: absolute;
	left: 10%;
}

#ETH{
	position: absolute;
	left: 130px;
}

.USDT{
	position: absolute;
	left: 20%;
}

#USDT{
	position: absolute;
	left: 230px;
}

.UAH{
	position: absolute;
	left: 30%;
}

#UAH{
	position: absolute;
	left: 310px;
}

.XRP{
	position: absolute;
	left: 40%;
}

#XRP{
	position: absolute;
	left: 395px;
}

.XRP{
	position: absolute;
	left: 40%;
}

#XRP{
	position: absolute;
	left: 395px;
}

.MINA{
	position: absolute;
	left: 50%;
}

#MINA{
	position: absolute;
	left: 395px;
}

.ASTR{
	position: absolute;
	left: 0%;
}

#ASTR{
	position: absolute;
	left: 395px;
}

.APT{
	position: absolute;
	left: 0%;
}

#APT{
	position: absolute;
	left: 395px;
}

/* @keyframes slidein {
	from {
	  -webkit-transform: rotate(0deg) translateX(101%) rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(0deg) translateX(-101%) rotate(0deg);
	}
} */
