body {
    background: #090d00;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

span {
  text-transform: uppercase;
  font: 100 4em/10 "Oswald", sans-serif;
  display: block;
  animation: 4s ease-in 1s infinite reverse both running slidein;
}

@keyframes slidein {
  from {
    margin-left: 10%;
    width: 230%;
  }

  to {
    margin-left: 10%;
    width: 50%;
  }
}
